@import "./variables.scss";

//RWD

@mixin mobile {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin mobile-sm {
  @media (min-width: $mobile-sm-min-width) and (max-width: $mobile-sm-max-width) {
    @content;
  }
}

@mixin mobile-md {
  @media (min-width: $mobile-md-min-width) and (max-width: $mobile-md-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin mobile-md-and-less {
  @media (max-width: $mobile-md-max-width) {
    @content;
  }
}

//Buttons

@mixin btn($background-color, $text-color) {
  background-color: $background-color;
  border: 0;
  border-radius: 3px;
  color: $text-color;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 15px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($background-color, 5%);
  }

  &:active {
    background-color: darken($background-color, 10%);
  }
}
