@import './mixins.scss';
@import './variables.scss';

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: $container-padding;

    @include mobile {
        width: $mobile-min-width - $container-offset;
    }

    @include mobile-md {
        width: $mobile-md-min-width - $container-offset;
    }

    @include tablet {
        width: $tablet-min-width - $container-offset;
    }

    @include desktop {
        width: $desktop-min-width - $container-offset;
    }
}