//RWD

$mobile-min-width: 320px;
$mobile-sm-min-width: 420px;
$mobile-md-min-width: 576px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;

$mobile-max-width: $mobile-sm-min-width - 1;
$mobile-sm-max-width: $mobile-md-min-width - 1;
$mobile-md-max-width: $tablet-min-width - 1;
$tablet-max-width: $desktop-min-width - 1;

//Offsets

$container-offset: 20px;
$default-horizontal-padding: 30px;

//Colors
$primary-color: #355990;
$secondary-color: #ff8e1d;
$error-color: #d16a6a;
$background-color: #f7f7f7;
$text-color: #404040;
$white: #fff;
$form-elements-color: #c8c8c8;
$success-color: #27eb52;
$info-color: rgb(86, 86, 236);
$warning-color: rgb(230, 74, 74);